body{
  background-color: rgb(120, 184, 221);
  background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
  animation: 10s linear 0s normal none infinite animate;
}
 
@keyframes animate {
from {background-position:0 0;}
to {background-position: 500px 0;}
}
  
#main {
  margin-top:5%;
}

#Page1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
 
h1{
  color: #55cf5f;
  text-shadow: 1 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
 
 
.buttoned{
  height: 60px;
  width: 200px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(0,0,0,0.6);
  border-radius: 6px;
  color: white;
  font-weight: 1000;
  font-size: 20px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  margin: 10px;
  padding: 0 20px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  text-align: center;
  /*letter-spacing: 1px;*/
  transition: 0.5s;
}

.buttoned:hover{
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.3);
  border: 1px solid rgb(0, 0, 0, 0.5);
  /*box-shadow: 0 19px 38px rgba(88, 70, 70, 0.3), 0 15px 12px rgba(0,0,0,0.22);*/
}
 
.pops{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 
.icons{
  font-color: transparent;
  height: 100px;
  width: 185px;
  background-size: 185px  100px;
  cursor: pointer;
  text-transform: uppercase;
  /*background-color: #55cf5f;*/
  border: 1px solid #000000;
  border-radius: 10px;
  color: transparent;
  font-weight: 1000;
  font-size: 15px;
  font-family: font-family: Futura,Trebuchet MS,Arial,sans-serif;
  box-shadow: 0 19px 38px rgba(88, 70, 70, 0.3), 0 15px 12px rgba(0,0,0,0.22);
  margin: 10px;
  padding: 0 20px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
}
 
#headertext{
color: #55cf5f;
text-align: center;
font-family: Futura,Trebuchet MS,Arial,sans-serif;
letter-spacing: 2px;
/*position: absolute;*/
text-align: center;
text-shadow: 0 19px 38px rgba(88, 70, 70, 0.3), 0 15px 12px rgba(0,0,0,0.22);
font-size: 60px;
}